<div class="container">
	<div class="sixteen columns">

		<a href="#menu" class="menu-trigger"><i class="fa fa-bars"></i> Menu</a>

		<nav id="navigation">
			<ul class="menu" id="responsive">

				<!-- <li><a href="index.html" class="current homepage" id="current">Home</a></li> -->

        <!-- Recursos  -->
				<li>
					<!-- Mensajes -->
					<a ui-sref="recursos({category:'Mensajes'})">Recursos</a>
          <div class="mega">
            <div class="mega-container">
              <div class="one-fourth-column hidden-on-mobile">
                <a href="#" class="img-caption margin-reset">
                  <figure>
                    <img src="images/menu-banner-01.jpg" alt="" />
                    <figcaption>
                      <h3>Series</h3>
                    </figcaption>
                  </figure>
                </a>
              </div>
              <div class="one-fourth-column hidden-on-mobile">
                <a href="#" class="img-caption margin-reset">
                  <figure>
                    <img src="images/menu-banner-01.jpg" alt="" />
                    <figcaption>
                      <h3>Música</h3>
                    </figcaption>
                  </figure>
                </a>
              </div>
              <div class="one-fourth-column hidden-on-mobile">
                <a href="#" class="img-caption margin-reset">
                  <figure>
                    <img src="images/menu-banner-01.jpg" alt="" />
                    <figcaption>
                      <h3>Niños</h3>
                    </figcaption>
                  </figure>
                </a>
              </div>

              <div class="one-fourth-column hidden-on-mobile">
                <a href="#" class="img-caption margin-reset">
                  <figure>
                    <img src="images/menu-banner-02.jpg" alt="" />
                    <figcaption>
                      <h3>Manuales</h3>
                    </figcaption>
                  </figure>
                </a>
              </div>

              <div class="clearfix"></div>
            </div>
          </div>
				</li>
				<li class="demo-button">
				  <a href="#">Sobre Nosotros</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
