<div class="fullwidth-element home-slider" id="slider">
	<div class="tp-banner-container">
		<div class="tp-banner">
			<ul>
				<!-- Slide 1  -->
				<li data-transition="fade" data-slotamount="7" data-masterspeed="1500" >
					<img src="viviendo-en-circulos/JPEG/FB_Cover_Viviendo_en_circulos.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
 					<div class="caption description sfb fadeout" data-x="left" data-y="bottom" data-speed="400" data-start="800"  data-easing="Power4.easeOut">
						<h3>Viviendo En Circulos</h3>
						<p>“Círculos son mejores que filas”</p>
						<p>
						  <a href="shop-with-sidebar.html" class="">Descarga la Serie <i class="fa fa-download"></i></a>
						</p>
					</div>
				</li>

				<!-- Slide 2  -->
				<li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
					<img src="viviendo-en-circulos/JPEG/FB_Cover_Viviendo_en_circulos.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
 					<div class="caption description sfb fadeout" data-x="left" data-y="top" data-speed="400" data-start="800"  data-easing="Power4.easeOut">
						<h3>Viviendo En Circulos</h3>
						<p>“Círculos son mejores que filas”</p>
						<p>
						  <a href="shop-with-sidebar.html" class="">Descarga la Serie <i class="fa fa-download"></i></a>
						</p>
					</div>
				</li>

				<!-- Slide 3  -->
				<li data-transition="fadetotopfadefrombottom" data-slotamount="7" data-masterspeed="1000">
					<img src="viviendo-en-circulos/JPEG/FB_Cover_Viviendo_en_circulos.jpg"  alt="slidebg1"  data-bgfit="cover" data-bgposition="left top" data-bgrepeat="no-repeat">
 					<div class="caption description sfb fadeout" data-x="left" data-y="bottom" data-speed="400" data-start="800"  data-easing="Power4.easeOut">
						<h3>Viviendo En Circulos</h3>
						<p>“Círculos son mejores que filas”</p>
						<p>
						  <a href="shop-with-sidebar.html" class="">Descarga la Serie <i class="fa fa-download"></i></a>
						</p>
					</div>
				</li>

			</ul>
		</div>
	</div>
</div>
